
#header {
	z-index:4242;
	position: fixed;
	top:0;left:0;
	width:100%;
    background:transparent;
	color:white;
    display: inline-block;

}
#header a{
	position: relative;
	color:white;
	padding:15px;
	padding-top: 15px;
	padding-bottom: 15px;
	float: right;
	font-size:20px;
    text-decoration: none;
    font-family: 'Roboto',verdana;

}
#header.chng-main {
	background: rgba(0,0,0,0.9);
  transition: all ease .5s;
}
#header .chng-about{
	background:rgba(52, 73, 94,0.5);
	transition: all ease .5s;
}
#header a:after{
	content: "";
	position: absolute;
	width:100%;
	height: 0;
	top:0;
	left:0;
	background: white;
	opacity: 0;
	z-index:-1;
	-webkit-transition:0.3s;
   
}

#header a:hover:after{
	opacity: 1;
	height: 100%;
}
#header a:hover{
 color:black;
 z-index:1;
}
#header a:active{
	color:grey;
}
#header img{
	position: absolute;
	top:6px;
	left:4%;

}

label {
	position: absolute;
	left:10%;
	top:15px;
	font-family: 'Raleway',verdana;
	font-size: 1.5pc;
}
#main{  
	text-align:center;
	position: relative;
	top:-110px;
	left:-19px;
padding-top: 130px;	
	width:102%;
	background-image: url('main.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    padding-bottom: 285px;
    color: white;
    font-family: 'Raleway', arial;
    z-index:1;
    opacity: 1;
    transition: 1.5s;
    transform: translateY(0px);
}
#main.is-showing{
  opacity:1;
  transform:translateY(0px);
}

#main_head{
	margin-top: 140px;
	font-size: 10pc;
 	font-family: 'Raleway', verdana;
	opacity: 0;
	padding-bottom: 20px;
	transform: translateX(-20px);
	transition: .5s;
}
#main_head.is-showing{
	opacity: 1;
	transform: translateX(0px);
}
#main::after{
	content: "";
	position: absolute;
	width:100%;
	height:100%;
	top:0;left:0;
	background: #000;
	z-index:-1;
	opacity:0.45;
}


#main_text{
	opacity: 0;
	margin-top: -5%;
	font-size: 1.75pc;
    font-family: 'Raleway', verdana;
    padding-bottom: 30px;
    transform: translateX(-10px);
    transition: .5s;
    overflow: hidden;
}
#main_text.is-showing{
	opacity: 1;
	transform: translateX(0px);
}
#main a{
	font-size: 1pc;
	text-decoration: none;
	color:white;
	
	padding:15px;
}
#main-buttons{
	opacity: 0;
	transform: translateY(30px);
	transition: .5s;
}
#main-buttons.is-showing{
	opacity: 1;
	transform: translateY(0px);
}
.btn-left{
	border:2px solid white;
	}
.btn-right{
	border:2px solid white;
	}
#main .btn-right:hover{
	background:white;
	color:black;
	transition:.5s;
	border:solid 2px white;
}

#main .btn-left:hover{
	background:white;
	color:black;
	transition:.5s;
	border:solid 2px white;
}
.hide{
	opacity: 0;
}

.arrow {
  position: fixed;
  bottom: 0;
  left: 48%;
  width: 20px;
  height: 20px;
  border:none;
  background-image:url('arrow.png');
   background-size: contain;
   background-repeat: no-repeat;

}


.arrow {
  text-align: center;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
#about{
position: relative;
padding-top:70px;
font-family: 'Raleway',verdana;
width:100%;
padding-bottom: 170px;
}

#about-heading{
	font-size:3pc;
    padding-bottom: 4pc;
    opacity: 0;
    transform: translateX(-60px);
    text-overflow: hidden;
    transition: 1.5s;
}
#about-heading.is-showing{
	opacity: 1;
	transform: translateX(0px)
}
#about-text{
	opacity: 0;
	transform: translateY(-60px);
	transition: .7s;
	width:30%;
	line-height: auto;
	font-size:1pc;
	font-family: 'Open sans', verdana;
}
#about-text.is-showing{
	opacity: 1;
	transform: translateY(0px);
}
#intra{
	position: relative;

	width:100%;
	height: 350px;
	font-family: 'Raleway',verdana;
}
.lane{
	position: relative;
	height: 350px;
	width:50%;
   
}
#inter{
	font-family: 'Raleway',verdana;
}
#func1{
	padding-top: 60px;
	float: left;
	}
#func1 h1{
	margin-left: 7%;	
}
#intra-heading{
	opacity: 0;
	transform: translateX(-70px);
	transition: .7s;
}
#intra-heading.is-showing{
	opacity: 1;
	transform: translateX(0px);
}



#func1 p{
	width:80%;
    margin-left: 7%;
}
#func2 p{
	opacity: 0;
}
#func2 h1{
	opacity: 0;
}
#func2{
	
	transition: 1.5s;
	position: relative;
	left:8px;
	background-image: url('intra.jpg');
    background-size: cover;
    background-repeat: no-repeat;
	float: right;
	opacity: 0;
	transform: translateY(-70px);
}
#func2.is-showing{
	opacity: 1;
	transform: translateY(0px);
}
#inter{
	margin-top: -20px;
	height: 350px;
	width: 100%;
	text-align: left;
}
.lone{
	position: relative;
	height: 350px;
	
   }
 #funcs1{
 	width: 51.5%;
 	position: relative;
 	background-image: url('intra.jpg');
 	background-size: cover;
 	background-repeat: no-repeat;
 	left:-10px;
    opacity: 0;
    transform: translateX(-70px);
    transition: 1s;
    
  }
  #funcs1.is-showing{
  	opacity: 1;
  	transform: translateX(0px);
  }
  #funcs2{
  	width: 48.5%;
  	position: relative;
  	float: right;
  	margin-top: -280px;
    opacity: 0;
    transform: translateY(70px);
    transition: 1s;
  }
  #funcs2.is-showing{
  	opacity: 1;
  	transform: translateY(0px);
  }
  #inter_txt{
  	opacity: 0;
  }
 #inter_head{
 	opacity: 0;
 }


#funcs2 p{
	width: 80%;
}
#inter_txt1{
	margin-left:50px;
}
#inter_head1{
	margin-left: 20px;
}
#ignite h1{
	font-size: 5pc;
	padding-bottom: 50px;
}
#ignite{
	width: 101.12%;
  	margin: 0 auto;
  	text-align: center;
  	color: black;
  	background: white;
  	font-weight: 100;
  	position: relative;
  	left:-8px;
	padding-top: 100px;
	padding-bottom: 200px; 
	font-family: 'Raleway',verdana;
	text-align: center;
}
.time {
  display: inline-block;
  line-height: 1;
  padding: 20px;
  font-size: 40px;


}
#timer-header{
	transform: translateY(-70px);
	transition: 1s;
	opacity: 0;
}
#timer-header.is-showing{
	transform: translateY(0px);
	opacity: 1;
}
#timer{
	transform: translateY(70px);
	transition: 1s;
	opacity: 0;
}
#timer.is-showing{
	transform: translateY(0px);
	opacity: 1;
}

span {
	position: relative;
  display: inline-block;
  font-size: 20px;
  color: black;
}

#days {
  font-size: 100px;
  color: black;
}
#hours {
  font-size: 100px;
  color: black;
}
#minutes {
  font-size: 100px;
  color: black;
}
#seconds {
  font-size: 50px;
  color: black;
}
#team{
	position: relative;
	padding-top:200px;
	padding-bottom: 200px;
	width:101.12%;
	left:-8px;
	background-image: url('team.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	font-family: 'Raleway',verdana;
    text-align: center;
    z-index: 1;
}
#team-head{
	transform: translateX(-50px);
	transition: 1s;
	opacity: 0;
}
#team-head.is-showing{
	opacity: 1;
	transform: translateX(0px);
}
#team-text{
	transform: translateY(50px);
	transition: 1s;
	opacity: 0;
}
#team-text.is-showing{
	opacity: 1;
	transform: translateY(0px);
}
#team h1{
	font-size: 6pc;
}
#team p{
	width:60%;
	margin-left: 20%;
}
.contain{
	padding:80px;
	padding-top: 50px;
	margin-left: 17%;
	width:50%;
	background:rgba(44, 62, 80,0.7);
	z-index:-1;
    border:10px solid white;
	
}
#contact{
	position: relative;
	font-family: 'Raleway',verdana;
	padding: 100px;
	padding-bottom: 200px;
}
#contact h1{
	text-align: center;
	font-size: 5pc;
	padding-bottom: 50px;
}
.contax{
    font-size: 14px;
	width: 24%;
	display: inline-block;
	-webkit-transition:.5s;
}
#text-2{
	align-content: center;
	width:40%;
    text-decoration: none;
    opacity: 0;
    -webkit-transition:.5s ease-in-out;
}
#text-2 a{
	text-decoration: none;
	color:black;
}
.contax:hover{
	transform: scale(1.1,1.1);

}
.contax:hover #text-2{
	opacity: 1;
}
#email #text-2{
	margin-left: -30px;
}
#address #text-2{
	width:100%;
}
#phone #text-2{
	width:100%;
}
#last{
	opacity: 0;
	transition: 1s;
	transform: translateY(-50px);
}
#last.is-showing{
	opacity: 1;
	transform: translateY(0px);
}
#last-icons{
	opacity: 0;
	transition: 1s;
	transform: translateY(50px);
}
#last-icons.is-showing{
	opacity: 1;
	transform: translateY(0px);
}
footer{
	position: relative;
	left:-12px;
	width:101.51%;
	bottom: -10px;
	background-color: #34495E;
	padding-top:20px;
	padding-bottom: 20px;
	color: white;
	font-family: 'Raleway',verdana;

}
footer img{
	position: relative;
	margin-top: 10px;
}

/* Center the loader */
#loader {
  position: absolute;
  left: 43%;
  top: 38%;
  z-index: 1;
  width: 200px;
  height:200px;
  
  /*border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
*/
}

/*@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}*/

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 2.5s;
  animation-name: animatebottom;
  animation-duration: 2.5s
}

@-webkit-keyframes animatebottom {
  from { bottom:-1px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-1px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
#website {
  display: none;
  text-align: center;
}
